.toastContainer {
  margin: -4px -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.toastSucces {
  max-width: 290px;
}

.iconSucces {
  width: 28px;
  height: 28px;
}
