.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-white);
  gap: 8px;
  border-radius: 15px;
  width: 149px;
  height: 74px;
}

.water {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.edit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.volume {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--main-grey);
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}

.iconGlass {
  width: 38px;
  height: 38px;
}

.btnEdit {
  width: 14x;
  height: 14px;
  background-color: transparent;
}
.btnTrash {
  width: 14px;
  height: 14px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .item {
    gap: 20px;
    width: 192px;
    height: 86px;
  }

  .water {
    gap: 0;
  }

  .edit {
    gap: 14px;
  }

  .volume {
    font-size: 15px;
    line-height: 149%;
  }

  .time {
    line-height: 187%;
  }

  .iconGlass {
    width: 44px;
    height: 45px;
  }

  .btnEdit {
    width: 16x;
    height: 16px;
  }

  .btnTrash {
    width: 16px;
    height: 16px;
  }
}
