.sliderContainer {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 12px;
  width: 198px;
  height: auto;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  gap: 8px;
  margin-bottom: 42px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .sliderContainer {
    width: 295px;
    padding: 20px;
    gap: 6px;
    margin-bottom: 26px;
  }
}

@media only screen and (min-width: 1440px) {
  .sliderContainer {
    margin-bottom: 56px;
  }
}

.sliderTitle {
  font-size: 14px;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  .sliderTitle {
    font-size: 15px;
    line-height: 1.49;
  }
}
.sliderWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .sliderWrapper {
    gap: 6px;
  }
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  width: 174px;
  background-color: #f0eff4;
  border-radius: 9px;
  height: 6px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 1px solid #9be1a0;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .slider {
    width: 255px;
  }
}

.sliderLabels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 174px;
}

@media only screen and (min-width: 768px) {
  .sliderLabels {
    max-width: 255px;
  }
}

.sliderNumbers {
  color: rgba(47, 47, 47, 0.6);
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
}

.sliderProgressWrapper {
  position: relative;
  width: 100%;
}

.percentageLabel {
  position: absolute;
  top: 26.5px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  color: #9be1a0;
}

@media only screen and (min-width: 768px) {
  .percentageLabel {
    top: 24.5px;
    font-size: 10.5px;
  }
}
