.saveBtn {
    background-color: rgba(155, 225, 160, 1);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    border: none;
    margin-top: 14px;
}

.saveBtn:hover {
    background-color: #87d28d;
    transition: all var(--animation);
}

.logOutBtn {
    background-color: rgba(155, 225, 160, 1);
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    border: none;
    margin-top: 14px;
    width: 304px;
}

.cancelBtn {
    background-color: #f0eff4;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    border: none;
    margin-top: 14px;
    width: 304px;
}

.saveBtnText {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #323f47;
}

.cancelBtnText {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: rgba(50, 63, 71, 0.3);
}

@media (min-width: 768px) {
    .logOutBtn {
        max-width: 173px;
    }

    .cancelBtn {
        max-width: 173px;
    }
}

@media (min-width: 1440px) {
    .saveBtn {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 30px;
        margin-top: 40px;
    }

    .saveBtnText {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
}