.addBtn {
  z-index: 2;
  display: flex;
  padding: 14px 20px;
  margin-left: auto;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: auto;
  border: none;
  border-radius: 30px;
  background-color: #323f47;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.addBtn:hover,
.addBtn:focus {
  transform: scale(1.1);
  color: #9be1a0;
}

.addBtn:hover .iconPlus,
.addBtn:focus .iconPlus {
  fill: #9be1a0;
  transition: fill 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .addBtn {
    padding: 18px 30px;
    width: 178px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.iconPlus {
  fill: #fff;
  width: 16px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .iconPlus {
    width: 24px;
    height: 24px;
  }
}
