.signUpSection {
  max-width: 704px;
  width: 100%;
  /* height: 960px; */
  border-radius: 30px;
  background: #f0eff4;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

.advSection {
  display: none;
}

/* Desktop*/
@media (min-width: 1440px) {
  .signUpSection {
    max-width: 672px;
    width: 100%;
    height: 736px;
    border-radius: 30px;
    background: #f0eff4;
  }

  .wrapper {
    display: flex;
    gap: 32px;
  }
}
.advantages {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .advSection {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
  }
}
