.wrapper {
  position: relative;
  margin: 0 auto;
  border-radius: 30px;
  background: #f0eff4;
}

.advSection {
  display: none;
}


/* Desktop*/
@media (min-width: 1440px) {
  .signUpSection{
    width: 672px;
    height: 736px;
  }

  .wrapper{
    display: flex;
    gap: 32px;
  }

}
.advantages {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .advSection {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
  }
}