.logo {
  /* position: absolute;
  top: 33px;
  left: 32px; */
  color: #323f47;
  text-align: start;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .logo {
    top: 33px;
    left: 32px;
  }
}
