.waterModal {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modalTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #323f47;
}

.waterTitle {
  max-width: 248px;
}

.modalValue {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #323f47;
}
@media screen and (min-width: 768px) {
  .waterModal {
    /* padding-left: 40px; */
  }
  .modalTitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -0.01em;
  }
  .waterTitle {
    max-width: 347px;
  }
}
