@media only screen and (max-width: 369px) {
  .calendar {
    justify-content: space-between;
    column-gap: 17px;
    row-gap: 20px;
  }
}

.calendar {
  font-size: 10px;
  font-weight: normal;
  color: rgb(47, 47, 47, 60%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
}

.calendarDay {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.baseDay {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.day {
  background-color: rgb(50, 63, 71, 20%);
}

.waterCompleted {
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .calendar {
    font-size: 12px;
    column-gap: 48px;
    row-gap: 15px;
  }

  .calendarDay {
    row-gap: 4px;
  }

  .day {
    font-size: 16px;
    width: 38px;
    height: 38px;
  }

  .waterCompleted {
    font-size: 16px;
    width: 38px;
    height: 38px;
  }
}

@media only screen and (min-width: 1440px) {
  .calendar {
    column-gap: 43px;
  }
}
