/* Mobile */
.wrapper {
  max-width: 375px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.mainImg {
  max-width: 343px;
  height: 353px;
  border-radius: 30px;
  background-image: url("../../photo/mob/hero-mob@1x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto 20px auto;
}

@media only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .mainImg {
    background-image: url("../../photo/mob/hero-mob@2x.webp");
  }
}

.customersContainer {
  position: absolute;
  left: 25%;
  top: 60%;
  transform: translate(-50%);
  height: 48px;
  width: auto;
  display: flex;
  padding: 10px 14px;
  align-items: center;
  border-radius: 30px;
  background-color: #fff;
  margin-left: 16px;
  margin-right: 167px;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
}

.customersContainer p {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  color: #323f47;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.16;
}

.customersAvatars {
  display: flex;
  position: relative;
  align-items: center;
  width: 62px;
  height: 28px;
}

.avatar {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.avatar:nth-child(1) {
  z-index: 3;
}

.avatar:nth-child(2) {
  z-index: 2;
  margin-left: -10px;
}

.avatar:nth-child(3) {
  z-index: 1;
  margin-left: -10px;
}

.accent {
  color: #9be1a0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}

.infoContainer {
  display: flex;
  position: absolute;
  bottom: 32px;
  right: 25px;
  width: 168px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 4px;
  flex-wrap: wrap;
}

.habit {
  display: flex;
  width: 81px;
  height: 26px;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 30px;
  background-color: #323f47;
  color: #fff;
  font-family: Poppins;
  font-size: 8px;
  font-weight: 700;
  text-align: center;
}

.statistics {
  display: flex;
  width: 83px;
  height: 26px;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: #9be1a0;
  color: #323f47;
  font-family: Poppins;
  font-size: 8px;
  font-weight: 700;
  text-align: center;
}

.rate {
  display: flex;
  width: 108px;
  height: 26px;
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff;
  color: #323f47;
  font-family: Poppins;
  font-size: 8px;
  font-weight: 700;
  text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
  .wrapper {
    max-width: 704px;
    height: 446px;
  }

  .mainImg {
    max-width: 768px;
    height: 446px;
    background-image: url("../../photo/tab/hero-tab@1x.webp");
  }

  @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .mainImg {
      background-image: url("../../photo/tab/hero-tab@2x.webp");
    }
  }

  .customersContainer {
    position: absolute;
    left: 18%;
    top: 64%;
    transform: translate(-50%);
    display: inline-flex;
    height: 67px;
    padding: 10px 20px;
    gap: 52px;
  }

  .customersContainer p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90px;
    font-size: 15px;
    line-height: 22.4px;
    margin-left: 14px;
  }

  .accent {
    font-size: 15px;
    margin-left: 5px;
    line-height: 22.4px;
  }

  .avatar {
    width: 47px;
    height: 47px;
  }

  .infoContainer {
    display: flex;
    width: 244px;
    gap: 10px;
    position: absolute;
    bottom: 32px;
    right: 35px;
  }

  .habit {
    width: auto;
    height: 34px;
    padding: 11px 16px;
    font-size: 12px;
  }

  .statistics {
    width: auto;
    height: 34px;
    padding: 11px 16px;
    font-size: 12px;
  }

  .rate {
    width: auto;
    height: 34px;
    padding: 11px 16px;
    font-size: 12px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .wrapper {
    max-width: 672px;
    height: 736px;
  }

  .mainImg {
    width: 100%;
    height: 100%;
    background-image: url("../../photo/desk/hero-desk@1x.webp");
  }

  @media only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .mainImg {
      background-image: url("../../photo/desk/hero-desk@2x.webp");
    }
  }

  .customersContainer {
    position: absolute;
    left: 20%;
    top: 70%;
    transform: translate(-50%);
    display: inline-flex;
    justify-content: space-between;
    width: auto;
    height: 67px;
  }

  .customersContainer p {
    font-size: 15px;
    line-height: 22.4px;
    margin-left: 14px;
    display: flex;
    flex-direction: row;
  }

  .accent {
    font-size: 15px;
    margin-left: 5px;
    line-height: 22.4px;
  }

  .avatar {
    width: 47px;
    height: 47px;
  }

  .infoContainer {
    gap: 10px;
    position: absolute;
    bottom: 85px;
    right: 30px;
  }

  .habit {
    width: auto;
    height: 34px;
    padding: 11px 16px;
    font-size: 12px;
  }

  .statistics {
    width: auto;
    height: 34px;
    padding: 11px 16px;
    font-size: 12px;
  }

  .rate {
    width: auto;
    height: 34px;
    padding: 11px 16px;
    font-size: 12px;
  }
}
