.ForgotSection {
  position: relative;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 170px 16px;
  display: flex;
  flex-direction: column;
  background: #f0eff4;
  border-radius: 30px;
}

@media only screen and (min-width: 1440px) {
  .ForgotSection {
    display: flex;
    justify-content: space-between;
  }

  .container {
    margin: 0;
  }
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    width: 100%;
    padding: 227px 134px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 672px;
    padding: 130px 118px;
  }
}

.advantages {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .advantages {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
  }
}
