.ForgotSection {
  position: relative;
  margin: 0 auto;
}
@media only screen and (min-width: 1440px) {
  .ForgotSection {
    display: flex;
  }
}

.container {
  margin: 0 auto;
  position: relative;
  padding: 16px 16px 281px;
  display: flex;
  flex-direction: column;
  background: #f0eff4;
  border-radius: 30px;
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    width: 100%;
    padding: 32px 32px 281px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
    padding: 32px 33px 281px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    gap: 32px;
    max-width: 672px;
  }
}

.advantages {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .advantages {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
  }
}
