.modal {
  display: flex;
  flex-direction: column;
}

.modalHead {
  color: #323f47;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 16px;
}

.modalText {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 28px;
  text-align: center;
}

.btn {
  width: 100%;
  padding: 18px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 0.7;

  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.btnColor {
  color: #323f47;
  background-color: #9be1a0;
}

.btnColor:hover {
  background-color: #87d28d;
}

.btnColor:active {
  color: #bcbcbc;
  background-color: transparent;
}

.btnCancel {
  color: #bcbcbc;
  background-color: #f0eff4;
}

.btnCancel:hover {
  color: #323f47;
}

.logOutButtons {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

/* TABLET STYLES */
@media screen and (min-width: 768px) {
  .modal {
    width: 436px;
  }

  .modalHead {
    font-size: 28px;
    line-height: 1.1;

    margin-bottom: 24px;
  }

  .modalText {
    font-size: 18px;
    line-height: 1.3;

    margin-bottom: 24px;
  }

  .logOutButtons {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .btn {
    width: 170px;
    height: 60px;
  }
}
