.paginationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.monthTitle {
  font-size: 20px;
  font-weight: bold;
}

.paginationControll {
  display: flex;
  align-items: center;
}

.monthName {
  font-size: 14px;
  font-weight: bold;
}

.paginationBtn {
  background-color: transparent;
}
