/* Mobile */
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 16px;
  margin: 0 auto;
  /* padding: 170px 0; */
  max-width: 343px;
  height: 780px;
}

.title {
  color: #323f47;
  margin-bottom: 32px;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.32px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.label {
  display: inline-block;
  color: #2f2f2f;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 8px;
}

.inputField {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  padding: 16px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  color: rgba(47, 47, 47, 0.8);
  outline: none;
  background-color: transparent;
}

.inputLastField {
  position: relative;
  display: flex;
  margin-bottom: 32px;
  width: 100%;
  padding: 16px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  color: rgba(47, 47, 47, 0.8);
  outline: none;
  background-color: transparent;
}

.inputField::placeholder {
  color: rgba(47, 47, 47, 0.6);
}

.inputError {
  border-color: #ef5050;
  color: #ef5050;
}

.errorMessage,
.errorMessageConfirm {
  color: #ef5050;
  margin-bottom: 20px;
  font-family: Poppins;
  font-size: 14px;
  border-color: #ef5050;
}

.submitButton {
  background-color: #9be1a0;
  color: #323f47;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  line-height: 24px; /* 150% */
  letter-spacing: -0.16px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #87d28d;
}

.redirectTitle {
  color: rgba(47, 47, 47, 0.5);
  text-align: center;
  margin-top: 16px;

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.14px;
}

.accent {
  color: #2f2f2f;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-decoration-line: underline;
}

.showPasswordBtn {
  display: none;
}

/* Tablet */

@media only screen and (min-width: 768px) {
  .wrapper {
    /* margin: 281px 134px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
    /* padding: 227px 0; */
  }

  .title {
    margin-left: -200px;
  }

  .showPasswordTablet {
    display: none;
  }
  .showPasswordTablet {
    display: block;
  }

  .inputContainer {
    position: relative;
  }

  .showPasswordBtn {
    position: absolute;
    background-color: transparent;
    right: 10px;
    top: 13px;
    border: none;
    cursor: pointer;
  }

  .icon {
    fill: none;
    stroke: #2f2f2f;
    width: 20px;
    height: 20px;
  }
}
/* 
@media only screen and (min-width: 1440px) {
  .wrapper {
    padding: 130px 0 100px;
  }
} */
