
.signInContainer {
  width: 100%;
  margin: 172px auto 216px;
}
@media only screen and (min-width: 768px) {
  .signInContainer {
    width: 436px;
  }
}
@media only screen and (min-width: 1440px) {
  .signInContainer {
    margin: 113px auto 169px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 1.06;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field {
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.01em;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-bottom: 16px;
  position: relative;
}
@media only screen and (min-width768px) {
  .field {
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
.field:last-of-type {
  margin-bottom: 0;
}

.input {
  width: 100%;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #2f2f2f;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  padding: 16px;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .input {
    line-height: 1.5;
    height: 56px;
  }
}

.input:hover,
.input:focus {
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.submit {
  margin-top: 32px;
  font-weight: 700;
  border: none;
  width: 100%;
  color: #323f47;
  border-radius: 30px;
  height: 50px;
  background: #9be1a0;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .submit {
    height: 60px;
  }
}

.submit:hover {
  background-color: #87d28d;
}

.questionOnLogIn {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
}

.questionText {
  color: rgba(47, 47, 47, 0.5);
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.01em;
}
@media only screen and (min-width: 768px) {
  .questionText {
    line-height: 1.5;
  }
}

.signUpLink {
  line-height: 1.28;
  font-weight: 700;
  color: #2f2f2f;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .signUpLink {
    line-height: 1.5;
  }
}

.errorMessage {
  color: #ef5050;
  font-size: 13px;
  margin-top: 10px;
}

.inputError {
  border: 1px solid #ef5050;
  color: #ef5050;
  transition: all 0.7s ease-in-out;
}

.showPasswordBtn {
  display: none;
}
@media only screen and (min-width: 768px) {
  .showPasswordBtn {
    display: block;
    position: absolute;
    right: 20px;
    top: 18px;
    background-color: transparent;
    border: none;
  }
}

.icon {
  fill: none;
  stroke: #2f2f2f;
  width: 100%;
  height: 100%;
  width: 20px;
  height: 20px;
  border: none;
}

.inputField {
  position: relative;
  display: flex;
  align-items: center;
}

.forgotPasswordContainer {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 16px;
  align-items: center;
}

.forgotPasswordLink {
  line-height: 1.28;
  font-weight: 700;
  color: #2f2f2f;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .forgotPasswordLink {
    line-height: 1.5;
  }
}
