@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("../fonts/stylesheet.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  display: flex;
  margin: 0;
  color: #323f47;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 16px;
  }
}
