* {
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 16px;
  }
}
