@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("../fonts/stylesheet.css");
* {
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

:root {
  --font-family: "Poppins", system-ui;
  --accent: #9be1a0;
  --accent-hover: #87d28d;
  --background: #f0eff4;
  --main-white: #fff;
  --main-dark: #2f2f2f;
  --main-grey: #323f47;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --dark-accent: #2f2f2f;
  --primary-dark: #323f47;
  --accent-color: #9be1a0;
  --light-background: #f0eff4;
  --primary-white: #ffffff;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 16px;
  }
}
