.ResetSection {
  position: relative;
  margin: 0 auto;
}

@media only screen and (min-width: 1440px) {
  .ResetSection {
    display: flex;
  }
}

.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #f0eff4;
  border-radius: 30px;
}

@media only screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    gap: 32px;
    width: 672px;
  }
}

.advantages {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .advantages {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
  }
}
