.container {
  width: 100%;
    margin: 172px auto 216px;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 225px auto 280px;
      width: 436px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    margin: 94px auto 108px;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.field {
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.01em;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin-bottom: 16px;
  position: relative;
}

@media only screen and (min-width768px) {
  .field {
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

.label {
  text-align: left;
}

.input {
  width: 100%;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #2f2f2f;
  border-radius: 15px;
  border: 1px solid rgba(47, 47, 47, 0.2);
  padding: 16px;
  margin-bottom: 10px;
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .input {
    line-height: 1.5;
    height: 56px;
  }
}

.inputError {
  border: 1px solid #ef5050;
  color: #ef5050;
  transition: all 0.7s ease-in-out;
}

.errorMessage {
  color: #ef5050;
  font-size: 13px;
}

.submitbtn {
  margin-top: 8px;
  font-weight: 700;
  border: none;
  width: 100%;
  color: #323f47;
  border-radius: 30px;
  height: 50px;
  background: #9be1a0;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .submitbtn {
    height: 60px;
  }
}

.submitbtn:hover {
  background-color: #87d28d;
}

.showPasswordBtn {
  display: block;
  position: absolute;
  right: 20px;
  top: 18px;
  background-color: transparent;
  border: none;
}
.icon {
  fill: none;
  stroke: #2f2f2f;
  width: 100%;
  height: 100%;
  width: 20px;
  height: 20px;
  border: none;
}

.inputField {
  position: relative;
  display: flex;
  align-items: center;
}
.questionOnLogIn {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: 16px;
    align-items: center;
}

.questionText {
    color: rgba(47, 47, 47, 0.5);
    line-height: 1.28;
    letter-spacing: -0.01em;
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .questionText {
        line-height: 1.5;
    }
}

.signUpLink {
    line-height: 1.28;
    font-weight: 700;
    color: #2f2f2f;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .signUpLink {
        line-height: 1.5;
    }
}